

.main{
    padding-top: 100px;
}
@media screen and (max-width: 920px){
    .main{
        padding-top: 0;
    }
}
.news-item-block{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 670px;
}
.news-list{
    padding-left: 0;
}
.news-list> li{
    list-style: none;
    width: 670px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
}
.news-list> li:hover{
    background-color: #f3f6f8;
}
.news-item-block>.news-item-block-img{
    min-width: 220px;
    max-width: 220px;
    margin-right: 20px;
    overflow: hidden;
}
@media screen and (max-width: 920px) {
    .news-item-block>.news-item-block-img{
        min-width: 120px;
        max-width: 120px;
        order: 2;
        margin-right: 0;
        margin-left: 20px;
    }
}
.news-item-block>.news-item-block-img img{
    width: 100%;
    min-height: 130px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.news-item-block>.news-item-block-img img:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 920px){
    .news-item-block>.news-item-block-img img{
        min-height: 64px;
    }
}
.news-item-content-block{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.news-item-content-title{
    display: block;
    color: rgba(0, 0, 0, 0.85);
}
.news-item-content-title:hover{
    text-decoration: none;
    color: rgba(34, 145, 247, 0.85);
}
.news-item-content-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}
.news-item-content-info .comment-count:hover{
    color: rgba(34, 145, 247, 0.85);
    cursor: pointer;
}
@media screen and (max-width: 920px) {
    .news-item-block, .news-list> li{
        width: 100%;
    }
}