body{
    width: 100%;
    min-height: 200vh;
}
header{
    min-height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 1px solid rgb(235, 235, 235);
    line-height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}
.header-title-nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
@media screen and (max-width: 920px) {
    header, .header-title-nav{
        flex-flow: column wrap;
    }
    header {
        text-align: center;
        position: static;
        width: 100%;
        line-height: 46px;
    }
    header h1 {
        background: #4e54c8;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-size: 24px;
        color: #fff;
    }

}
.header-title-nav>h1{
    box-sizing: border-box;
    padding: 16px;
    margin: 0;
}
.header-title-nav>.title>.login-avater{
    display: none;
}
@media screen and (max-width: 920px){
    .header-title-nav>.title>.login-avater{
        display: block;
        float: right;
        width: 20px;
        height: 20px;
    }
}
.header-title-nav>nav>ul{
    padding-left: 0;
}
.header-title-nav>nav>ul>li{
    display: inline-block;
}
.header-title-nav>nav>ul>li>a{
    padding: 16px;
    line-height: 80px;
    color: rgba(0, 0, 0, 0.65);
    font-weight: 400;
}
.header-title-nav>nav>ul>li>a:hover{
    text-decoration: none;
    color: rgba(34, 145, 247, 0.88);
}
.sign-login-box{
    padding-right: 32px;
    line-height: 80px;
}
@media screen and (max-width: 920px){
    nav{
        background-color: rgb(240, 248, 255);
    }
    .sign-login-box{
        display: none;
    }
}

.main{
    padding-top: 100px;
}
@media screen and (max-width: 920px){
    .main{
        padding-top: 0;
    }
}
.news-item-block{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 670px;
}
.news-list{
    padding-left: 0;
}
.news-list> li{
    list-style: none;
    width: 670px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
}
.news-list> li:hover{
    background-color: #f3f6f8;
}
.news-item-block>.news-item-block-img{
    min-width: 220px;
    max-width: 220px;
    margin-right: 20px;
    overflow: hidden;
}
@media screen and (max-width: 920px) {
    .news-item-block>.news-item-block-img{
        min-width: 120px;
        max-width: 120px;
        order: 2;
        margin-right: 0;
        margin-left: 20px;
    }
}
.news-item-block>.news-item-block-img img{
    width: 100%;
    min-height: 130px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.news-item-block>.news-item-block-img img:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 920px){
    .news-item-block>.news-item-block-img img{
        min-height: 64px;
    }
}
.news-item-content-block{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.news-item-content-title{
    display: block;
    color: rgba(0, 0, 0, 0.85);
}
.news-item-content-title:hover{
    text-decoration: none;
    color: rgba(34, 145, 247, 0.85);
}
.news-item-content-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}
.news-item-content-info .comment-count:hover{
    color: rgba(34, 145, 247, 0.85);
    cursor: pointer;
}
@media screen and (max-width: 920px) {
    .news-item-block, .news-list> li{
        width: 100%;
    }
}
/* 回到顶部按钮 */
.back-top-menu{
    display: none;
    position: fixed;
    width: 46px;
    height: 46px;
    right: 32px;
    bottom: 50px;
    border: 1px solid #e2e2e2;
    text-align: center;
    line-height: 46px;
    color: rgba(0, 0, 0, 0.85);
    z-index: 9;
    background-color: #fff;
}
.back-top-menu:hover{
    cursor: pointer;
    color: rgba(34, 145, 247, 0.85);
    border-color: rgba(34, 145, 247, 0.85);
}
footer{
    padding: 12px 0 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
}